# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
.melos_tool/

# IDEs
.idea/
.vscode/
*.iml

# Android
**/android/.gradle/
**/android/local.properties
**/android/captures/

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/macos/Pods/
**/macos/Flutter/ephemeral/

# Windows / Linux (ephemeral)
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/

# Misc
.DS_Store
*.log
